<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기기</title>
</head>
<body>
    <form action="/write" method="post">
        <div class="board-item">
            <input type="text" name="user_id" value="" >
            <input type="text" name="title" value="">
            <input type="text" name="content" value="">
            <button type="submit"> 글 작성하기</button>
        </div>
    </form>
</body>
</html>